<div class="comment">

<article>
  	<p class="meta"><img src="images/avatar.png" alt="Avatar del usuario"/> <a href="#">David J. Brenes</a> - 19/07/2012</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>	    
</article>

</div>