<div class="dataset">

  <div class="meta">
    <h1><%= link_to_unless_current 'Titulo', dataset_path(1234) %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    <p class="source">Fuente: <a href="#">http://example.org/jhlajdsghflaif7u4yfa7t4b5g874auith487</a></p>
  </div>
  
  <div class="actions">
    <a href="#" class="btn">Descargar</a>
    <a href="#" class="btn">Crear nuevo análisis</a>
  </div>

</div>