<% body_id 'dataset' %>

<%= render @dataset %>


<% if @dataset.visualizations.present? %>
  <h1 class="t">Visualizaciones</h1>
  <% @dataset.visualizations.each do |v| %>
    <div class="visualization">
      <%= v.chart %>
    </div>
  <% end %>
<% end %>

<% if @dataset.analyses.present? %>
  <h1 class="t">Análisis del Dataset</h1>
  <%= render @dataset.analyses %>
<% end %>
