<div class="visualization">

  <div class="meta">
  	<img src="images/grafica.jpg" alt="gráfica de visualización"/>
    <h1><%= link_to_unless_current 'Titulo', visualization_path(1234) %></h1>

	<div class="actions">
	    <a href="#" class="btn">Dataset</a>
	    <a href="#" class="btn">Descargar</a>
	    <a href="#" class="btn">Escribir análisis</a>
	</div>
    
  </div>  
</div>