<div class="visualization">

  <div class="meta">
  <article class="analysis">
  	<h1 class="t"><%= link_to_unless_current 'Titulo', visualization_path(1234) %></h1>
  	<img class="grafica" src="/images/grafica.jpg" alt="gráfica de visualización"/>    

	<div class="actions">
	    <a href="#" class="btn">Dataset asociado</a>
	    <a href="#" class="btn">Descargar</a>
	    <a href="#" class="btn">Escribir análisis</a>
	</div> 
	</article>   
  </div>  
</div>