
<% body_id 'visualization' %>



<%= render :partial => 'visualization' %>

<h1 class="t">An치lisis de la Visualizaci칩n</h1>

<% 5.times do %>
<article class="analysis">
  <h2><a href="#">Titulo del an치lisis</a></h2>
  <p class="meta">19/07/2012 - <a href="#">David J. Brenes</a></p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

  <img src="images/grafica.jpg" alt="Miniatura de la visualizaci칩n"/>  
</article>
<% end %>