<div class="comment">
  	<p class="meta"><img class="avatar" src="/images/avatar.png" alt="Avatar del usuario"/> <a href="#"><%= comment.user.full_name %></a> - <%= l comment.created_at, :format => :short %></p>
    <p><%= comment.excerpt%></p>
</div>