<div class="analysis">

  <div class="meta">
  	<h1><%= link_to_unless_current 'Titulo', analysis_path(1234) %></h1>

  	<p class="meta">19/07/2012 - <img class="avatar" src="/images/avatar.png" alt="Avatar del usuario"/> <a href="#">David J. Brenes</a></p>

  	<img src="/images/grafica.jpg" alt="gráfica de visualización"/>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>

	<div class="actions">
	    <a href="#" class="btn">Añadir comentario</a>
	</div>
    
  </div>  
</div>